.foldersPanel {
  position: absolute;
  top: calc(var(--osbar-padding-y) * 2 + var(--osbar-icon-size) + var(--space-m));
  left: 0;
  width: 280px;
  padding: var(--space-s);
}

@media (max-width: 1023px) {
  .foldersPanel {
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    padding: 0 0 var(--space-l);
  }
}
